<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>Archetype Created Web Application</display-name>

    <filter>
        <filter-name>Auth</filter-name>
        <filter-class>net.ngeor.bprr.AuthFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>Auth</filter-name>
        <servlet-name>Demo</servlet-name>
        <servlet-name>PullRequests</servlet-name>
    </filter-mapping>

    <servlet>
        <servlet-name>OAuth</servlet-name>
        <servlet-class>net.ngeor.bprr.OAuthServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Demo</servlet-name>
        <servlet-class>net.ngeor.bprr.DemoServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PullRequests</servlet-name>
        <servlet-class>net.ngeor.bprr.PullRequestsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>OAuth</servlet-name>
        <url-pattern>/oauth</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Demo</servlet-name>
        <url-pattern>/demo</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PullRequests</servlet-name>
        <url-pattern>/pull-requests</url-pattern>
    </servlet-mapping>

</web-app>
