<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>oauth</servlet-name>
        <servlet-class>net.ngeor.bprr.OAuthServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>demo</servlet-name>
        <servlet-class>net.ngeor.bprr.DemoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>oauth</servlet-name>
        <url-pattern>/oauth</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>demo</servlet-name>
        <url-pattern>/demo</url-pattern>
    </servlet-mapping>
</web-app>
